.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 6;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 80%;
    height: 600px;
    background: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
 
.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}
.popup-content{
    margin: auto;
    line-height: 30px;
    font-weight: 600;
    width: 80%;
    

}

@media screen and (max-width: 834px){
    .popup-wrapper{
        width: 100%;
    }

    .popup{
        width: 50%;
        left: 0;
        overflow: scroll;
    }
    
}