@import "hover-min.css";
*{
box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  
  
  

  
}
.Desktop-2 {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  z-index: 2;
  
  
}

 .Desktop-2 nav {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100px;
}
.Desktop-2 nav .logo {
  cursor: pointer;
}
.Desktop-2 nav .ul-nav {
  display: flex;
}
.Desktop-2 nav .ul-nav li {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  color: rgb(17, 0, 13);
}

.Desktop-2 main .secion1 {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.Desktop-2 main section .text {
  z-index: 5;
}
.Desktop-2 main section .text h1 {
  text-align: center;
  width:100%;
  height: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 100%;
  letter-spacing: 0.150em;
  text-shadow: 0px 4px 4px rgba(7, 7, 7, 0.25);
}
.Desktop-2 section .text h2 {
  width: 100%;
  height: 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1em;
  line-height: 100%;
  letter-spacing: 0.145em;
  color: #000000;
}
.Desktop-2 section .Saly-11 {
  width: 100%;
  height: 400px;
}
.Desktop-2 main section .Saly-11 img {
  width: 400px;
  height: 600px;
}

.Desktop-2 .secion1 button {
  border: none;
  border-radius: 8px;
  background-color: #ff5c95;
  color: #fcf6f6;
  width: 80%;
  padding: 20px;
  transition: 0.25s;
  font-weight: 600;
}
button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}
.Desktop-2 main .titulo3{
  margin-top: 20px;
  display: inline-flex;
  width:100%;
  /* border: solid 1px rgb(0, 255, 13); */
  
}
.Desktop-2 .titulo3 div{
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 100%; 
}
.Desktop-2 main .titulo3 div i{
  font-size: 60px;
}

.Desktop-2 main .titulo3 div  h3{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin: auto;

}

.Desktop-2 main .icono {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 30px;
  cursor: pointer;

}
.Desktop-2 main .icono div{
  width: 100px;
  text-align: center;

}

.Desktop-2 .pies-pagina{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  padding: 10px 0px;
  /* border: solid 1px red; */
  
}
.Desktop-2 .pies-pagina .name{
  text-align: center;
  padding: 10px;
}
.Desktop-2 .pies-pagina .name h4{
  padding:5px;
  font-size: 2em;
  font-weight: 600;
  align-self: start;
  /* border: solid 1px rgb(25, 0, 255); */
}
.Desktop-2 .pies-pagina .red{
  width :250px;
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
}
.Desktop-2 .pies-pagina .redes{
  cursor: pointer;
  margin-left: 20px;
  
  /* border: solid 1px red; */
}
.background{
  position: absolute;
width: 100%;
height: 878px;
top: 0px;
z-index: 1;
}
.background .Vector1{
position: absolute;
width: 100%;
height: 878px;
top: 0px;
z-index: 1;

background: linear-gradient(180deg, #DCB2C1 0%, rgba(185, 81, 110, 0) 100%);
}



@media only screen and (max-width: 834px) {
  body {
    overflow: visible;
  }
  .Desktop-2  nav {
    display: none;
  }

  .Desktop-2 .secion1 .text h1{
    letter-spacing: 0.100em;
  }

  main section {
    flex-direction: column;
    /* border: solid 1px red; */
    text-align: center;
  }
  .Desktop-2 main .secion1 .Saly-11 {
    width: 100%;
    margin-top: 10px;
    height: 450px;
    margin-top: 20px;
    
  }
  .Desktop-2 main .secion1 .Saly-11 img {
    width: 100%;
  }
  .icono {
    flex-direction: column;
  }
  .Desktop-2 main .secion1 .button{
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
   
  }
  .Desktop-2 .pies-pagina{
    flex-direction: column;
    /* border: solid 1px rgb(43, 255, 0); */
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

  .Desktop-2 main .icono{
    flex-direction: row;
    margin-bottom: 20px;
    
  }
  .Desktop-2 .pies-pagina .name{
    /* border: solid 1px rgb(255, 94, 0); */
    padding: 5px;

  }
  .Desktop-2 .pies-pagina .name h4{
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 375px) {
  .Desktop-2 .secion1 .text h1{
    letter-spacing: 0.100em;
    font-size: 2em;
  }
  .Desktop-2 main .secion1 .Saly-11 {
    width: 100%;
    margin-top: 10px;
    height: 450px;
    margin-top: 20px;
    
  }
  .Desktop-2 main .secion1 .Saly-11 .img1 {
    width: 100%;
  }
 
}
